{% extends "atmo/base.html" %}
{% load staticfiles %}

{% block page_title %}Extend Spark cluster {{ cluster }}{% endblock %}

{% block content %}
<div class="page-header">
    <h2>Extend Spark cluster <small>{{ cluster }}</small></h2>
</div>
<div class="row">
  <div class="col-sm-6">
    <form action="{{ cluster.urls.extend }}" method="POST" enctype="multipart/form-data" autocomplete="off">
      {% csrf_token %}
      {% include "atmo/_form.html" %}
      <button type="submit" class="btn btn-primary btn-md">
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
        <span class="submit-button">Extend lifetime</span>
      </button>
      <button type="reset" class="btn btn-default btn-md hidden">Reset</button>
      <a class="btn btn-default btn-md" href="{{ cluster.urls.detail }}">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
