{% extends "atmo/base.html" %}
{% load staticfiles %}

{% block page_title %}New Spark cluster{% endblock %}

{% block content %}
<div class="page-header">
  <h2>New Spark cluster <small class="hidden-xs hidden-sm">Launch a new EMR cluster</small></h2>
</div>
<div class="row">
  <div class="col-sm-6">
    <form action="{% url 'clusters-new' %}" method="POST" enctype="multipart/form-data" autocomplete="off">
      {% csrf_token %}
      {% include "atmo/_form.html" %}
      <button type="submit" class="btn btn-primary btn-md">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        <span class="submit-button">Launch cluster</span>
      </button>
      <button type="reset" class="btn btn-default btn-md hidden">Reset</button>
      <a class="btn btn-default btn-md" href="{% url 'dashboard' %}">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
