{% extends "atmo/base.html" %}
{% load account %}

{% block head_title %}SSH key {{ ssh_key }}{% endblock %}

{% block content %}
<div class="page-header">
    <h2>SSH key <small>{{ ssh_key }}</small></h2>
</div>
<div class="row">
  <div class="col-sm-9">
    <p>
      <strong>Fingerprint:</strong>
      <code>{{ ssh_key.fingerprint }}</code>
    </p>
    <textarea class="form-control" rows="10" readonly>{{ ssh_key.key.strip }}</textarea>
  </div>
  <div class="col-sm-3">
    <fieldset>
      <p>
        <form action="{% url 'keys-delete' id=ssh_key.id %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <button type="submit" class="btn btn-md btn-danger" title="Really delete?"
              data-toggle="confirmation"
              data-popout="true"
              data-btn-ok-label="Yes"
              data-btn-ok-class="btn-sm btn-primary"
              data-btn-cancel-label="No"
              data-btn-cancel-class="btn-sm btn-default">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              Delete
          </button>
          <a class="btn btn-default btn-md" href="{% url 'keys-raw' id=ssh_key.id %}">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            <span class="submit-button">Raw</span>
          </a>
        </form>
      </p>
    </fieldset>
    <dl>
      <dt>Created at</dt>
      <dd>{{ ssh_key.created_at }}</dd>
      <dt>Created by</dt>
      <dd>{% user_display ssh_key.created_by %}</dd>
      <dt>Prefix</dt>
      <dd>{{ ssh_key.prefix }}</dd>
    </dl>
  </div>
</div>
{% endblock content %}
