{% extends "atmo/base.html" %}
{% load staticfiles %}

{% block page_title %}Delete Spark job {{ spark_job }}{% endblock %}

{% block content %}
<div class="page-header">
  <h2>Delete Spark job <small>{{ spark_job }}</small></h2>
</div>
<div class="row">
  <div class="col-sm-6">
    <h4>Do you really want to terminate the cluster?</h4>
    <p>
      Any data that was created on the filesystem of the cluster will be deleted.
    </p>
    <form action="{% url 'jobs-delete' id=spark_job.id %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <button type="submit" class="btn btn-md btn-danger" title="Delete scheduled Spark job">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        <span class="submit-button">Delete Spark job</span>
      </button>
      <button type="reset" class="btn btn-default btn-md hidden">Reset</button>
      <a class="btn btn-default btn-md" href="{{ spark_job.get_absolute_url }}">Cancel</a>
    </form>
  </div>
</div>
{% endblock content %}
