{% extends "atmo/base.html" %}
{% load staticfiles %}
{% load notebook %}

{% block head_title %}Spark job {{ spark_job }}{% endblock %}

{% if modified_date %}
{% block body_attrs %}data-modified-date="{{ modified_date.isoformat }}"{% endblock %}
{% endif %}

{% block modified_date_title %}Spark job status outdated{% endblock modified_date_title %}
{% block modified_date_description %}The Spark job was updated on the server.{% endblock modified_date_description %}

{% block head_extra %}
<script type="text/javascript" src="{% static "npm/marked/marked.min.js" %}"></script>
<script type="text/javascript" src="{% static "npm/ansi_up/ansi_up.js" %}"></script>
<script type="text/javascript" src="{% static "npm/prismjs/prism.js" %}"></script>
<script type="text/javascript" src="{% static "npm/prismjs/plugins/autoloader/prism-autoloader.min.js" %}"></script>
<script type="text/javascript" src="{% static "npm/notebookjs/notebook.min.js" %}"></script>
<link rel="stylesheet" href="{% static "npm/prismjs/themes/prism.css" %}" />
<link rel="stylesheet" href="{% static "css/notebook.css" %}" />
{% endblock %}

{% block footer_extra %}
<script type="text/javascript" src="{% static "js/jobs.js" %}"></script>
{% endblock %}

{% block content %}
<div class="page-header">
    <h2>
      Spark job
      <small>{{ spark_job }}</small>
      <div class="btn-group" data-toggle="btns">
        <a href="#notebook" class="btn btn-sm btn-default active" aria-controls="notebook" role="tab" data-toggle="tab">Notebook</a>
        <a href="#results" class="btn btn-sm btn-default" aria-controls="results" role="tab" data-toggle="tab">Results</a>
        <a href="#logs" class="btn btn-sm btn-default" aria-controls="logs" role="tab" data-toggle="tab">Logs</a>
      </div>
    </h2>
</div>
<div class="row">
  <div class="col-sm-9">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="notebook">
        <div id="notebook-content"
        data-download-url="{% url 'jobs-download' id=spark_job.id %}"
        data-content-given="{% if notebook_content %}true{% else %}false{% endif %}">
        {% if notebook_content %}
        <textarea class="hidden">{{ notebook_content }}</textarea>
        {% else %}
        <h4>
          Loading notebook content&hellip;
        </h4>
        {% endif %}
        </div>
      </div>
      {% with results=spark_job.get_results %}
      <div role="tabpanel" class="tab-pane" id="results">
        <p>
        {% if spark_job.is_public %}
        The artifacts of this job are public and can be downloaded using the links below.
        {% else %}
        The artifacts of this job are not publicly available. AWS credentials are required
        in order to access them, either via the <a href="https://console.aws.amazon.com/">AWS Console</a>
        or using the <a href="https://aws.amazon.com/cli/">AWS CLI</a>. Only the latest version of each artifact is kept,
        so the next job run will likely override these files.
        </p>
        <p>
        You can download the files to your machine using the AWS CLI:
        <pre>aws s3 cp &lt;s3 path&gt; .</pre>
        {% endif %}
        </p>
        <ul class="list-group">
        {% for item in results.data %}
          <li class="list-group-item">
            {% if spark_job.is_public %}
              {% if item|is_notebook %}
                <a href="{{ settings.PUBLIC_NB_URL }}{{ item }}">{{ item }}</a>
              {% else %}
                <a href="{{ settings.PUBLIC_DATA_URL }}{{ item }}">{{ item }}</a>
              {% endif %}
            {% else %}
              <samp>s3://{{ settings.AWS_CONFIG.PRIVATE_DATA_BUCKET }}/{{ item }}</samp>
            {% endif %}
            <span class="pull-right">
              <button class="btn btn-xs btn-default btn-clipboard" data-clipboard-text="{% if spark_job.is_public %}{{ settings.PUBLIC_DATA_URL }}{{ item }}{% else %}s3://{{ settings.AWS_CONFIG.PRIVATE_DATA_BUCKET }}/{{ item }}{% endif %}">
                <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
              </button>
            </span>
          </li>
        {% empty %}
        <li class="list-group-item">No artifacts found</li>
        {% endfor %}
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="logs">
        <p>
        {% if spark_job.is_public %}
        The logs of this job are public and can be downloaded using the links below.
        {% else %}
        The logs of this job are not publicly available. AWS credentials are required
        in order to access them, either via the <a href="https://console.aws.amazon.com/">AWS Console</a>
        or using the <a href="https://aws.amazon.com/cli/">AWS CLI</a>.
        </p>
        <p>
        You can download the files to your machine using the AWS CLI:
        <pre>aws s3 cp &lt;s3 path&gt; .</pre>
        {% endif %}
        </p>
        <ul class="list-group">
        {% for item in results.logs reversed %}
        <li class="list-group-item">
          {% if spark_job.is_public %}
            <a href="{{ settings.PUBLIC_DATA_URL }}{{ item }}">
              {{ item }}
            </a>
          {% else %}
            {{ item }}
          {% endif %}
          <span class="pull-right">
            <button class="btn btn-xs btn-default btn-clipboard" data-clipboard-text="{% if spark_job.is_public %}{{ settings.PUBLIC_DATA_URL }}{{ item }}{% else %}s3://{{ settings.AWS_CONFIG.PRIVATE_DATA_BUCKET }}/{{ item }}{% endif %}">
              <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
            </button>
          </span>
        </li>
        {% empty %}
        <li class="list-group-item">No logs found</li>
        {% endfor %}
        </ul>
      </div>
      {% endwith %}
    </div>
  </div>
  <div class="col-sm-3">
    <p>
      <form action="{% url 'jobs-delete' id=spark_job.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <a class="btn btn-default btn-md" href="{% url 'jobs-edit' id=spark_job.id %}">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          <span class="submit-button">Edit</span>
        </a>
        <button type="submit" class="btn btn-md btn-danger" title="Really delete?"
            data-toggle="confirmation"
            data-popout="true"
            data-btn-ok-label="Yes"
            data-btn-ok-class="btn-sm btn-primary"
            data-btn-cancel-label="No"
            data-btn-cancel-class="btn-sm btn-default">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            Delete
        </button>
      </form>
    </p>
    <dl class="ddl-horizontal">
      <dt>Identifier</dt>
      <dd>{{ spark_job.identifier }}</dd>
      <dt>Notebook name</dt>
      <dd><a href="{% url 'jobs-download' id=spark_job.id %}">{{ spark_job.notebook_name }}</a></dd>
      <dt>Result visibility</dt>
      <dd>{{ spark_job.get_result_visibility_display }}</dd>
      <dt>Cluster size</dt>
      <dd>{{ spark_job.size }}</dd>
      <dt>Run interval</dt>
      <dd>{{ spark_job.interval_in_hours }} hours</dd>
      <dt>Job timeout</dt>
      <dd>{{ spark_job.job_timeout }}</dd>
      <dt>Start date</dt>
      <dd>{{ spark_job.start_date }}</dd>
      {% if spark_job.end_date %}
      <dt>End date</dt>
      <dd>{{ spark_job.end_date }}</dd>
      {% endif %}
      <dt>Last scheduled date</dt>
      <dd>{{ spark_job.latest_run.scheduled_date|default:"n/a" }}</dd>
      <dt>Last run date</dt>
      <dd>{{ spark_job.latest_run.run_date|default:"n/a" }}</dd>
      <dt>Last terminated date</dt>
      <dd>{{ spark_job.latest_run.terminated_date|default:"n/a" }}</dd>
      <dt>Is enabled</dt>
      <dd><span class="glyphicon glyphicon-{% if spark_job.is_enabled %}ok text-success{% else %}remove text-danger{% endif %}" aria-hidden="true"></span></dd>
    </dl>
  </div>
</div>
{% endblock content %}
