{% if form.non_field_errors %}
<div class="form-group has-error">
    <p class="help-block">
      {% for error in form.non_field_errors %}
      {{ error }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
</div>
{% endif %}
{% for field in form %}
<div class="form-group{% if field.errors %} has-error has-feedback{% endif %}"{% if form.instance.id %} data-form-instance-id="{{ form.instance.id }}"{% endif %}>
  {% if not field.is_hidden %}
  <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
  {% endif %}
  {% if 'datetimepicker' in field.field.widget.attrs.class %}
  <div class="input-group date">
  {% endif %}
  {% if field.field.widget.input_type == 'file' %}
  <div class="input-group">
      <label class="input-group-btn">
          <span class="btn btn-default">
              <span class="file-label hidden">Browse&hellip;</span>
              {{ field }}
          </span>
      </label>
      <input type="text" class="form-control hidden file-selection" readonly>
  </div>
    </label>
  {% else %}
    {{ field }}
  {% endif %}
  {% if 'datetimepicker' in field.field.widget.attrs.class %}
  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
  </div>
  {% endif %}
  <span class="glyphicon form-control-feedback {% if not field.errors %}hidden{% endif %}" aria-hidden="true"></span>
  {% if field.errors %}
  <p class="help-block">
    {% for error in field.errors %}
    {{ error }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </p>
  {% endif %}
  {% if field.help_text %}
    <p class="help-block">{{ field.help_text|safe }}</p>
  {% endif %}
</div>
{% endfor %}
