{% if form.non_field_errors %}
<div class="form-group has-error">
    <p class="help-block">
      {% for error in form.non_field_errors %}
      {{ error }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
</div>
{% endif %}
{% for field in form %}
<div class="form-group"{% if form.instance.id %} data-form-instance-id="{{ form.instance.id }}"{% endif %}>
  {% if not field.is_hidden %}
  <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}
  {% if not field.field.required and not field.field.real_required %}<span class="optional-label">- Optional</span>{% endif %}
  </label>
  {% endif %}
  {% if field.errors %}<div class="has-error has-feedback">{% endif %}
  {% if field.field.widget.input_type == 'file' %}
  <div class="fileinput fileinput-new input-group" data-provides="fileinput">
    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
    <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Browse&hellip;</span><span class="fileinput-exists">Change</span>{{ field }}</span>
    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Reset</a>
  </div>
  {% elif 'radioset' in field.field.widget.attrs.class %}
  <div>
    <div class="btn-group{% if 'radioset-vertical' in field.field.widget.attrs.class %}-vertical{% endif %}" data-toggle="buttons">
    {% for option in field %}
      <label class="btn btn-default{% if option.is_checked %} active{% endif %}">
      {{ option.tag }} {{ option.choice_label }}
      </label>
    {% endfor %}
    </div>
  </div>
  {% else %}
    {{ field }}
  {% endif %}
  {% if field.errors %}</div>{% endif %}
  <span class="glyphicon form-control-feedback {% if not field.errors %}hidden{% endif %}" aria-hidden="true"></span>
  <div class="error-block{% if field.errors %} has-error has-feedback{% endif %}">
    {% if field.errors %}
    <p class="help-block">
      {% for error in field.errors %}
      {{ error }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
    {% endif %}
  </div>
  {% if field.help_text %}
    <p class="help-block">{{ field.help_text|safe }}</p>
  {% endif %}
</div>
{% endfor %}
