{% load raven socialaccount staticfiles %}<!DOCTYPE html>
<html>
  <head>
    {% block head_basic %}
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">

    <!-- jQuery and plugins -->
    <script type="text/javascript" src="{% static "lib/jquery.min.js" %}"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "lib/bootstrap.min.css" %}">
    <script type="text/javascript" src="{% static "lib/bootstrap.min.js" %}"></script>
    <!-- Bootstrap-Datetimepicker -->
    <script type="text/javascript" src="{% static "lib/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/bootstrap-datetimepicker.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "lib/bootstrap-datetimepicker.min.css" %}">
    <!-- ATMO -->
    <link href="{% static "css/base.css" %}" rel="stylesheet" />

    <title>Telemetry Analysis Service - {% block head_title %}Welcome{% endblock %}</title>
    {% endblock %}
    {% block head_extra %}
    <!-- ADDITIONAL HEAD CONTENT USED BY EACH PAGE -->
    {% endblock %}
  </head>
  <body role="document" {% block body_attrs %}{% endblock %}>
    <nav class="navbar-dev navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'dashboard' %}">Telemetry Analysis Service</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="https://wiki.mozilla.org/Telemetry">Documentation</a></li>
            <li><a href="https://wiki.mozilla.org/Telemetry/Custom_analysis_with_spark">Tutorial</a></li>
          </ul>
          {% if request.user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.email }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'account_email' %}">Emails</a></li>
                <li><a href="{% url 'socialaccount_connections' %}">Accounts</a></li>
                <li><a href="{% url 'account_logout' %}">Log out</a></li>
              </ul>
            </li>
          </ul>
          {% else %}
          <a href="{% provider_login_url "google" next=redirect_field_value %}" class="btn btn-text navbar-btn navbar-right">Login</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="container" id="content-container">
      <div id="refresh-container">
        {% if "dev" in request.get_host or "localhost" in request.get_host %}
        <div class="row">
          <div class="col-sm-12">
            <div class="alert alert-warning alert-dragons" role="alert">
              <strong>Here be dragons!</strong>
              This service is currently under development and may not be stable.
            </div>
          </div>
        </div>
        {% endif %}
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
      <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="https://mzl.la/2f3Mv36" target="_blank">Report a bug</a></li>
            <li><a href="https://github.com/mozilla/telemetry-analysis-service" target="_blank">Contribute code</a></li>
          </ul>
          {% if short_sha1 and long_sha1 %}
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/mozilla/telemetry-analysis-service/commit/{{ long_sha1 }}">Revision: {{ short_sha1 }}</a></li>
          </ul>
          {% endif %}
          <p class="navbar-text navbar-right" data-toggle="tooltip" id="time">All times in UTC</p>
          <p class="navbar-text navbar-right hidden" id="refresher">
            Refresh<span id="refresh-timer"></span>
          </p>
        </div>
      </div>
    </nav>
  </body>
  <script type="text/javascript" src="{% static "js/base.js" %}"></script>
  <script type="text/javascript" src="{% static "js/forms.js" %}"></script>
  <script type="text/javascript" src="{% static "js/refresher.js" %}"></script>
  <script type="text/javascript">
  $(document).reader(function() {
      Raven.config('{% sentry_public_dsn %}').install();
  });
  </script>
</html>
