{% load staticfiles %}<!DOCTYPE html>
<html>
  <head>
    {% block head_basic %}
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">

    <!-- jQuery and plugins -->
    <script type="text/javascript" src="{% static "lib/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/jqBootstrapValidation.min.js" %}"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "lib/bootstrap.min.css" %}">
    <script type="text/javascript" src="{% static "lib/bootstrap.min.js" %}"></script>
    <!-- Bootstrap-Datetimepicker -->
    <script type="text/javascript" src="{% static "lib/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/bootstrap-datetimepicker.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "lib/bootstrap-datetimepicker.min.css" %}">

    <link href="{% static "css/base.css" %}" rel="stylesheet" />

    <title>Telemetry Self-Serve Data Analysis - {% block head_title %}Welcome{% endblock %}</title>
    {% endblock %}
    {% block head_extra %}
    <!-- ADDITIONAL HEAD CONTENT USED BY EACH PAGE -->
    {% endblock %}
  </head>
  <body role="document">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Telemetry Data Analysis</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="https://github.com/mozilla/telemetry-analysis-service" target="_blank">Contribute</a></li>
            <li><a href="#">Documentation</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.email }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'account_email' %}">Emails</a></li>
                <li><a href="{% url 'socialaccount_connections' %}">Accounts</a></li>
                <li><a href="{% url 'account_logout' %}">Log out</a></li>
                {% else %}
                <li><a href="{% url 'account_login' %}">Log in</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

    {% csrf_token %}
    <script>
    (function() {
      // Ensure that all AJAX requests sent with jQuery have CSRF tokens
      var csrfToken = jQuery("input[name=csrfmiddlewaretoken]").val()
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          // non-CSRF-safe method that isn't cross domain
          if (["GET", "HEAD", "OPTIONS", "TRACE"].indexOf(settings.Type) < 0 && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrfToken);
          }
        }
      });
    })();
    </script>
  </body>
</html>
