{% extends "atmo/base.html" %}
{% load staticfiles %}

{% block page_title %}Terminate Spark cluster {{ form.instance }}{% endblock %}

{% block content %}
<div class="page-header">
  <h2>Terminate Spark cluster <small>{{ form.instance }}</small></h2>
</div>
<div class="row">
  <div class="col-sm-6">
    <form action="{% url 'clusters-terminate' id=form.instance.id %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% include "atmo/_form.html" %}
      <button type="submit" class="btn btn-md btn-danger" title="Delete selected Spark cluster">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        <span class="submit-button">Terminate</span>
      </button>
      <button type="reset" class="btn btn-default btn-md hidden">Reset</button>
      <a class="btn btn-default btn-md" href="{{ form.instance.get_absolute_url }}">Cancel</a>
    </form>
  </div>
</div>
{% endblock content %}
