{% extends "atmo/base.html" %}
{% load staticfiles %}

{% block head_extra %}
<link href="{% static "css/dashboard.css" %}" rel="stylesheet" />
<script type="text/javascript" src="{% static "js/dashboard.js" %}" rel="stylesheet"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>Launch a Spark Cluster</h2>
    <p>Launch a Spark cluster in the cloud and use it for custom data analysis. The cluster will be available for 24 hours, then it will be automatically terminated.</p>
    <table class="table table-hover editable-table" id="cluster-table">
      <thead>
        <tr>
          <th class="hidden">cluster_id</th>{# this column is hidden using CSS #}
          <th>Identifier</th>
          <th>Size</th>
          <th>Created on</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for cluster in active_clusters %}
        <tr>
          <td class="hidden">{{ cluster.id }}</td>
          <td>{{ cluster.identifier }}</td>
          <td>{{ cluster.size }}</td>
          <td>{{ cluster.start_date }}</td>
          <td>{{ cluster.most_recent_status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if not active_clusters %}<p class="text-center">No active clusters to show.</p>{% endif %}
    {% include 'atmo/new-cluster.html' %}
    {% if active_clusters %}
      {% include 'atmo/edit-cluster.html' %}
      {% include 'atmo/delete-cluster.html' %}
    {% endif %}
  </div>
  <div class="col-md-12">
    <h2>Schedule a Spark Job</h2>
    <p>Set up a Spark analysis to run regularly in the cloud and upload the results automatically to Amazon S3.</p>
    <table class="table table-hover editable-table" id="spark-job-table">
      <thead>
        <tr>
          <th class="hidden">spark_job_id</th>
          <th>Identifier</th>
          <th>Visibility</th>
          <th>Size</th>
          <th>Interval</th>
          <th>Timeout</th>
          <th>Starts</th>
          <th>Ends</th>
        </tr>
      </thead>
      <tbody>
        {% for spark_job in user_spark_jobs %}
        <tr>
          <td class="hidden">{{ spark_job.id }}</td>
          <td>{{ spark_job.identifier }}</td>
          <td>{{ spark_job.result_visibility }}</td>
          <td>{{ spark_job.size }}</td>
          <td>{{ spark_job.interval_in_hours }}</td>
          <td>{{ spark_job.job_timeout }}</td>
          <td>{{ spark_job.start_date }}</td>
          <td>{{ spark_job.end_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if not user_spark_jobs %}<p class="text-center">No scheduled jobs to show.</p>{% endif %}
    {% include 'atmo/new-spark-job.html' %}
    {% if user_spark_jobs %}
      {% include 'atmo/edit-spark-job.html' %}
      {% include 'atmo/delete-spark-job.html' %}
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Launch a Worker</h2>
    <p>Launch a server in the cloud and use it for custom data analysis. The machine will be available for 24 hours, then it will be automatically terminated.</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Identifier</th>
          <th>Created on</th>
        </tr>
      </thead>
      <tbody>
        {% for worker in active_workers %}
        <tr>
          <td>{{ worker.identifier }}</td>
          <td>{{ worker.start_date }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="3">No active workers to show.</td></tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'atmo/new-worker.html' %}
  </div>
  <div class="col-md-6">
    <h2>View aggregated data</h2>
    <p>Open the telemetry dashboards hub to view aggregate data, as well as many other dashboards and resources.</p>
    <a href="https://telemetry.mozilla.org/" class="btn btn-lg btn-primary" target="_blank">
      <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
      Telemetry Dashboards
    </a>
  </div>
</div>
{% endblock %}
