{% extends "atmo/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <div class="page-header">
      <h2>
        Spark Jobs
        <a href="{% url 'jobs-new' %}" class="btn btn-sm btn-default" title="Schedule a Spark analysis">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Schedule
        </a>
      </h2>
    </div>
    <p>Set up a Spark analysis to run regularly in the cloud and upload the results automatically to Amazon S3.</p>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Identifier</th>
          <th>Visibility</th>
          <th>Interval</th>
          <th>Starts</th>
          <th>Ends</th>
        </tr>
      </thead>
      <tbody>
        {% for spark_job in user_spark_jobs %}
        <tr>
          <td><a href="{{ spark_job.get_absolute_url }}">{{ spark_job.identifier }}</a></td>
          <td>{{ spark_job.result_visibility }}</td>
          <td>{{ spark_job.get_interval_in_hours_display }}</td>
          <td>{{ spark_job.start_date|date:"SHORT_DATETIME_FORMAT" }}</td>
          <td>{{ spark_job.end_date|date:"SHORT_DATETIME_FORMAT"|default:"n/a" }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if not user_spark_jobs %}<p class="text-center">No scheduled jobs to show.</p>{% endif %}
  </div>
  <div class="col-md-6">
    <div class="page-header">
      <h2>
        Spark Cluster
        <a href="{% url 'clusters-new' %}" class="btn btn-sm btn-default" title="Launch Spark cluster">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Launch
        </a>
      </h2>
    </div>
    <p>Launch a Spark cluster in the cloud and use it for custom data analysis. The cluster will be available for 24 hours, then it will be automatically terminated.</p>
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Cluster</th>
          <th>Size</th>
          <th>Created on</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for cluster in active_clusters %}
        <tr>
          <td><a href="{{ cluster.get_absolute_url }}">{{ cluster.identifier }}</a></td>
          <td>{{ cluster.size }}</td>
          <td>{{ cluster.start_date|date:"SHORT_DATETIME_FORMAT" }}</td>
          <td>{{ cluster.most_recent_status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if not active_clusters %}<p class="text-left">No active clusters to show.</p>{% endif %}
  </div>
</div>
{% endblock %}
