{% extends "atmo/base.html" %}

{% block head_title %}Spark job {{ job.identifier }}{% endblock %}

{% block content %}
<h1>Spark Job {{ job.identifier }}</h1>
<p class="lead">Summary:</p>
<div class="row">
  <div class="col-md-2"><strong>Notebook S3 key:</strong></div>
  <div class="col-md-10">{{ job.notebook_s3_key }}</div>
</div>
<div class="row">
  <div class="col-md-2"><strong>Result visibility:</strong></div>
  <div class="col-md-10">{{ job.result_visibility }}</div>
</div>
<div class="row">
  <div class="col-md-2"><strong>Size:</strong></div>
  <div class="col-md-10">{{ job.size }}</div>
</div>
<div class="row">
  <div class="col-md-2"><strong>Interval in hours:</strong></div>
  <div class="col-md-10">{{ job.interval_in_hours }}</div>
</div>
<div class="row">
  <div class="col-md-2"><strong>Timeout:</strong></div>
  <div class="col-md-10">{{ job.job_timeout }}</div>
</div>
<div class="row">
  <div class="col-md-2"><strong>Start date:</strong></div>
  <div class="col-md-10">{{ job.start_date|date:"SHORT_DATETIME_FORMAT" }}</div>
</div>
<div class="row">
  <div class="col-md-2"><strong>End date:</strong></div>
  <div class="col-md-10">{{ job.end_date|date:"SHORT_DATETIME_FORMAT" }}</div>
</div>
<div class="row">
  <div class="col-md-2"><strong>Is enabled:</strong></div>
  <div class="col-md-10">
    {% if job.is_enabled %}
    <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
    {% else %}
    <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-2"><strong>Last run date:</strong></div>
  <div class="col-md-10">{{ job.last_run_date|timesince }}</div>
</div>
{% endblock content %}
