{% extends "atmo/base.html" %}
{% block content %}

<h1>Cluster {{ cluster.identifier }}</h1>
<p class="lead">Summary:</p>
<div class="row">
  <div class="col-md-2"><strong>ID:</strong></div>
  <div class="col-md-10">{{ cluster.jobflow_id }}</div>
</div>
<div class="row">
  <div class="col-md-2"><strong>Name:</strong></div>
  <div class="col-md-10">{{ cluster.identifier }}</div>
</div>
<div class="row">
  <div class="col-md-2"><strong>State:</strong></div>
  <div class="col-md-10">{{ cluster.most_recent_status }}</div>
</div>
<div class="row">
  <div class="col-md-2"><strong>Master public DNS:</strong></div>
  <div class="col-md-10">
    {% if cluster.master_address %}
      {{ cluster.master_address }}
    {% else %}
    Please wait, instance details will appear when the master is ready.
    {% endif %}
  </div>
</div>
{% if cluster.is_active %}
  <div class="row">
    <div class="col-md-2"><strong>Terminates at:</strong></div>
    <div class="col-md-10">{{cluster.end_date}}</div>
  </div>
  <p>
    <form action="/clusters/delete/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input name="cluster" value="{{cluster.id}}" type="hidden">
      <button type="submit" class="btn btn-sm btn-danger" title="Terminate Spark cluster">
        <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
        Terminate now
      </button>
    </form>
  </p>
  <h3>Your cluster will be killed within {{ cluster.end_date|timeuntil }}. Be sure to save any work!</h3>
  <p class="lead">Connecting:</p>
  {% if not cluster.master_address %}
    <p>
      Your cluster is still launching. Please wait and the connection
      details will appear here when it is ready.
    </p>
  {% else %}
    <p>
      The default username is <code>hadoop</code>, so you can tunnel your IPython
      notebook using a command like:
    </p>
    <p>
      <code>ssh -i my-private-key -L 8888:localhost:8888 hadoop@{{ cluster.master_address }}</code>
    </p>
    <p>
      You can save some typing by adding defaults to your <code>~/.ssh/config</code> file:
    </p>
    <pre>Host *.compute.amazonaws.com
  User hadoop
  LocalForward 8888 localhost:8888
  Identityfile ~/.ssh/{my-private-key}</pre>
    To upload an existing notebook, use SCP:
    <p>
      <span class="no-select"><code>$ </code></span>
      <code>scp -i my-private-key some-notebook.ipynb hadoop@{{ cluster.master_address}}:~/analyses</code>
    </p>
    The notebook will then show up in the IPython files list.
    <p>
      Now you can launch your <a href="http://localhost:8888" target="_blank">
      IPython notebook</a> from Firefox.
    </p>
    <p>
      Be aware that <strong>only one notebook can run on your cluster at a time</strong>.
      To run a second notebook, you must first stop the running notebook via the
      <a href="http://localhost:8888" target="_blank">iPython home page for your cluster</a>,
      by choosing File->"Close and Halt" from the running notebook's menu, or by executing "sc.stop()" in the running notebook.
    </p>
  {% endif %}
  <p class="lead">Further Reading:</p>
  <p>
    For a guide of how to use this shiny new cluster, check out
    <a href="http://wp.me/p45GUY-fu">
      :rvitillo's blog post on the topic</a>.
  </p>
  <h3> Good luck :)</h3>
{% else %}
<h3>This cluster is not active anymore.</h3>
{% endif%}
{% endblock content %}
