/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
/* don't let the top navigation bar cover any content */
body {
  padding-bottom: 90px;
}

nav.navbar-dev {
  background-color: #00539F;
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  background-size: 40px 40px;
  background-image:
    linear-gradient(-45deg, rgba(255, 255, 255, .1) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 75%,
    transparent 75%, transparent);
}
.navbar-dev a,
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-text,
.navbar-inverse .navbar-text {
  color: white;
}

.alert-dragons {
  margin-top: 20px;
  margin-bottom: 0;
}

.alert-dragons:first-of-type {
  margin-top: 0px;
  margin-bottom: 0;
}

label span.optional-label {
  font-style: italic;
  font-weight: 400;
  color: #737373;
}

.page-header {
  margin-top: 20px;
}

.modal-body h1:first-child,
.modal-body h2:first-child,
.modal-body h3:first-child,
.modal-body h4:first-child,
.modal-body h5:first-child {
  margin-top: 0px;
}
