<button type="button" class="btn btn-md" data-toggle="modal" data-target="#new-scheduled-spark-dialog" title="Schedule a Spark analysis">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
</button>
<div class="modal fade" id="new-scheduled-spark-dialog" tabindex="-1" role="dialog" aria-labelledby="new-scheduled-spark-dialog">
  <div class="modal-dialog" role="document">
    <form class="modal-content" action="/new-scheduled-spark/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Schedule a Spark analysis</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Job identifier</label>
          <div class="control-group">
            {{ new_scheduled_spark_form.identifier }}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group">
          <label>Analysis Jupyter Notebook</label>
          <div class="control-group">
            {{ new_scheduled_spark_form.notebook }}
            <p class="help-block"></p>
          </div>
          <p class="help-block"></p>
        </div>
        <div class="form-group">
          <label>Analysis output visibility</label>
          <div class="control-group">
            {{ new_scheduled_spark_form.result_visibility }}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group">
          <label>Job cluster size</label>
          <div class="control-group">
            {{ new_scheduled_spark_form.size }}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group">
          <label>Job interval</label>
          <div class="control-group">
            {{ new_scheduled_spark_form.interval_in_hours }}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group">
          <label>Job timeout</label>
          <div class="control-group">
            {{ new_scheduled_spark_form.job_timeout }}
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group">
          <label>Job start date</label>
          <div class="control-group">
            <div class="input-group date">
              {{ new_scheduled_spark_form.start_date }}
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <p class="help-block"></p>
          </div>
        </div>
        <div class="form-group">
          <label>Job end date (optional)</label>
          <div class="control-group">
            <div class="input-group date">
              {{ new_scheduled_spark_form.end_date }}
              <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <p class="help-block"></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary btn-lg" value="Save" />
      </div>
    </form>
  </div>
</div>
